
body {
    color: #526066;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}
.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.pure-menu-link {
    padding: .5em .7em;
}
.banner {
    background: transparent url('../../img/back2.jpg') 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/back2.jpg', sizingMethod='scale');

    height: 200px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}



/* ajuste de todas as tables */
 .portifolio-tables,.information {
    max-width: 980px;
    margin: 0 auto;
 }
.portifolio-tables {
    margin-bottom: 3.125em;
    text-align: center;
}

/* edição da tabela de caracteristicas: pessoais, profissionais e academicas */
.portifolio-table {
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 0 0 3em;
}
.portifolio-table-pro .portifolio-table-header {
    background: #111;
    color: #fff;
}

.portifolio-table-acad .portifolio-table-header {
    background: #2c4985;
}
.portifolio-table-header {
    background: rgb(187, 16, 16);
    color: #fff;
}
    .portifolio-table-header h2 {
        margin: 0;
        padding-top: 2em;
        font-size: 1em;
        font-weight: normal;

    }
/* estilizando os spansa das tables */
.portifolio-table-price {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
}
    .portifolio-table-price span {
        display: block;
        text-transform: uppercase;
        font-size: 0.2em;
        padding-bottom: 2em;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        *color: #fff;
    }

/* RETIRA A APARÊNCIA DE LISTA  */
.portifolio-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.portifolio-table-list li {
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}

 /* FIM DAS LISTAS */

.information-head {
    color: black;
    font-weight: 500;
}
.bold{
    color: black;
    font-weight: bold;
}

.footer {
    background: #111;
    color: #fff;
    text-align: center;
}
    .footer a {
        color: #ddd;
    }



/* TABLET MEDIA */
@media(min-width: 767px) {

    .banner-head {
        font-size: 4em;
    }
    .portifolio-table {
        margin-bottom: 0;
    }

}

/* CELULAR MEDIA */
@media (min-width: 480px) {
    .banner {
        height: 400px;
    }
    .banner-head {
        font-size: 3em;
    }
}
